<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/10/plot" value="false" />
    <add key="/intelcpu/0/load/11/plot" value="false" />
    <add key="/intelcpu/0/load/12/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="727" />
    <add key="mainForm.Location.Y" value="201" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/intelcpu/0/load/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAJM62nFM699NDwYGJacIhgwmBjBQcPpZw8ADY5c8z4SKyzu1vUiEsuWclhknw8XXZ2VD2RpOt08mw82p9UyCs9/bIPRKt6RA2bJOilcSoGwZpyUd2uwwNgDDblv1nAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAJM62nFM699NDwYgOC4jrc0ABQCp8U2ZGAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJM62nFM699NDwaHCc4RDBlMDEDAyBDk/NnnjACMvcw4GSJuIOWyPisbwl7w1OX2SYg4w4EU51rPJLje87JBfDA2ALD/cNtgAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJM62nFM699ND0YDQ5cIhgwmBiBgbDjl/NnnjACMvcw4GSzOYMDhuj4rG8z+n/7K9fbJZLh6n/QtcPUARK4bOFQAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJM62nFM699NDwYgOC4jrc0ABQCp8U2ZGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJM62nFM699NDwaGBocIhgwmBjB4YH8+MAfKBspsyoSyF9h/DE+DshUcPt1OgKs57pIMZQs4lDzPhIu3vUiEs5cZw9Q02K3PyoaL3z4JE3ewr/VMgou/t0mEmyndkgJ3m+KVBDi71hCmd4GD7DeEXq7EVJhdDgBTI2Rv5AAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJM62nFM699NDwYGBccIhgwmBghwOh+YA2U/cGzYlAlldzl+DE+Dsg84frqdAGVzOR13SYayZziWPIepP+HQ9iIRyuZxXGYMU3PBYX1WNswuhtsnYeI3HGo9k6DsDw7vbWB6HRylW1Kg7BBHxSswexscag2T4XbJfoPp7XPkSkyFqwcAEc3ItOQAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJM62nFM699NDwYgOC4jrc0ABQCp8U2ZGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJM62nFM699NDwYgiGDIYGKAAPvzgTkwNkPDpkw4+2N4GlzNp9sJcPHjLslQdoNdyXOEeuNZ37hh7Pc2iXC90i0pcPWKVxDm1BrCzHGwl/2WBBfnSkyFqwcAbhBKTbQAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJM62nFM699ND9tHfg4RDBlMDEBQreDv4M9yjQXG/hieBhZXTQaK328VhbGlW1LA4vxV/g6KVxIgaqb6O9QaJoPZF3r8HWS/JUHYxf4OXImpYLbiLn8HAIBbcs54AAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJM62nFM699ND6XTlm4RDBlMDEDgctLSzZ/lGguM/TE8DSJ+HCh+v1UUxpZuSQGLTzlm6aZ4JQHMPnLU0q3WMBnMZgGKy35LgogD2VyJqWD2iiOWbgD01lCIeAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJM62nFM699NjwOzjzlHMGQwMQBBw/Vjzv4s11hg7I/haRBx8ePO/vdbRWFs6ZYUiLjucWfFKwkQtvtx51rDZAjb/riz7LckCFv9uDNXYiqYzZB93BkAj1D8KXgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJM62nFM699NDwYGB7fjMtLaDGDg4AYAjuNaqhgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJM62nFM699NDwYgOC4jrc0ABQCp8U2ZGAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAJM62nFM699Njw/LDzhGMGQwMQDBg/OxjucDc8BsDcNYx4ZNmWB20oQUx4/haWB2uV2i46fbCWC2QWyc43GXZDA7JDnZseQ5RP1693jHtheJYHayQKzjMmOImp3zuhzXZ2WD2cUcBk63T0LETys2ONZ6JoHZ31ZEO763gej17olzlG5JAbONOOIdFa9A7N3qEedYawjRO+FQgqPsN4je7Z/jHLkSU+HiAF2dAFfkAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAFvb2XtM699ND4aEVw7BDBlMDFBwIzAHzq7clAlhL+hxUIxIg4t/u50AZf+yO+6WDBfnn79JBsYGAKoRXX5gAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAHPwm3RM699NDwaGKvsAhgwmBihwktmsAWMDAPdRxjokAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAKsOVzyu9e+mx5L2K46zkrKYGIAgsfqKY4NSLpi9cPYVx7b6NDC7ueGK4/dwCHuX/RXHz7cTwOwQ/iuODtIQcaf6K44nN0LYDBVXHae5J4HZt9SuOvZNTAazLwdcdfxlBLHL5ssVxxOLU8DssyuvONbIQdRsfnDFMeYURO91yauO2xUh7NOfrjhmXofYa/X/iqOuPkR94vcrjh2ViWD2grNXHCNsMsHsvn9XHAF/WABq5AAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAKsOVzyu9e+mxx3lNodZSVlMDEAgJ9Pm0KCUC2ZXGbQ5tNWngdkx8m0O38Mh7IpvrQ6fbyeA2W+utzo4SEPEJ8i1OZzcCGXvbnOY5p4EZkd0tDn0TUwGs68tanP4ZQSxKy2jzeHE4hQwO8eyzaFGDqJGKKbNIeYURK9SQ5vDdkUIuy69zSHzOsTesPw2B119iPqkrDaHjspEMJsjoM0hwiYTzH6V1+YAADd5ENbkAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKsOVzyu9e+mx64US8dZSVlMDEAwM8PSsUEpF8zOjrN0bKtPA7N/pVk6fg+HsHOqLR0/304Aszd1WTo6SEPEE9ItHU9uhLAfSFg6TnNPArNrjCwd+yYmg9m2qpaOv4wgdpU6WTqeWJwCZn+KtHSskYOome9h6RhzCqJ3upml43ZFCPslUH3mdYi9f+0sHXX1IerLHS0dOyoTwewlfpaOETaZYLaxvaUjAPzAcBXkAAAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAJM62nFM699ND9Nwa8cIhgwmBiDw9pB3PB+YA2ZfOSzl2LApE8z+tEnJ8WN4Gpg9y17c8dPtBDDbruipw3GXZDD7lL+gY8lziPoQVw7HtheJYPbduZyOy4wham61Mjquz8oGs/d8/Odw+yREXKiQx7HWMwnM7k7icXxvA9FbZ8DrKN2SAma3uXE7Kl6B2LvL5aNDrSFE7+p3fI6y3yB6g8p/OnAlpoLZH7ZzOwIAfADFjOQAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJM62nFM699Nj35WdccIhgwmBiBQsBa1Px+YA2aDQMOmTDC74c0Ru4/haWC2Q9kxu0+3E+Dqj7skQ9inq+xLnmdCxSvt214kQs3xsF9mnAzXuz4rG8y22e5qf/skRFympsK+1jMJbuZ7G4jeyGni9tItKXD3KF5JgLJP2NUawvS62ct+S4LbxZWYCmWL2QMA2/N/NuQAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJM62nFM699Nj0YFW8cIhgwmBiBIYHdzPB+YA2b/2yHm2LApE8yed+Ovw8fwNDBbwVrU/tPtBDDboeyY3XGXZDCbgUHMvuQ5RL0Dm5h924tEMPvC4nX2y4whavYYTLdfn5UN13v7ZDLUTHf7Ws8kMNt9o7D9exuI3hOWkvbSLSlQ8z3sFa8kQMVP29Uawuytspf9lgRTY8eVmApmL7kxxR4ADH5WNuQAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAJM62nFM699ND8U6BscIhgwmBiD4N1/B8XxgDpitrK/p2LApE8y++ZLd8WN4Gpj9dm6Y46fbCWA2g8Bex+MuyRA2Q6JjyXOI+mud+x3aXiSC2ZuKOR2XGUPVOPg5rs/KBrOTrk90vH0SIr4svtCx1jMJoqbB2vG9DUTvga/yjtItKWD2BO1ER8UrEHsFmrocaw0hehs6Sh1lv0H07mn84sCVmApmz4u44QAAXKs3KOQAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAJM62nFM699Nj29zjB0iGDKYGIBg2r2ZDucDcyDs/McODZsywewNwsccPoangdl+Ov0On24ngNnffp+0P+6SDGazTP3sUPIcov6CnYJj24tEMLvi0U2HZcYQNSc2nnBYn5UNZjcHJDjcPgkRr9iyy6HWMwnMdg6Y4vDeBqKX49dUB+mWFDBbz/atg+IViL0/ahc71BpC9Fbv43GU/QbR65OT4MCVmApm33uxwwEAaUMOYOQAAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAJM62nFM699ND4PUo44RDBlMDECQdPy54/nAHDA7/sEcx4ZNmWB219uLjh/D08DsNyH3HD/dTgCzGRbsczzukgxhN3A6lTyHqL8h+dKx7UUiRPwFg9MyY4ga9bTbjuuzssHsI+f+Od4+CRGfmM3iVOuZBFH/4ZLjexuoXoUnjtItKRC2wHtHxStQex8ccaw1hNq74Yyj7DeoXoaHjlyJqWD2tb03HAGk9GoE5AAAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAJM62nFM699Nj7yfzE4RDBlMDEAgcvui4/nAHDC7LEnQqWFTJpjddfe/48fwNDDbeuEex0+3E8BsBoFux+MuyWC2kcMcx5LnEPVZG286tr1IBLMjt212XGYMUePXM9dxfVY2mD3xYqPj7ZMQcaaXkx1rPZMg6sO+Or63gehlWPDBUbolBcJO2OGoeAVqb8Mix1pDiF6GgMOOst8gep/veerIlZgKET/B7gQA1O4dG+QAAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAJM62nFM699ND7kDVx0iGDKYGIBgyfw7DucDc8Dsf/a7HBo2ZYLZTxX4HD+Gp4HZp+ZoO366nQBmR577ZX/cJRnMLj2j7VjyHKL+ncsth7YXiWA26xEpx2XGEDWHP3xxWJ+VDWbnZSxwuH0SIn7Nj9ux1jMJzD4Uou743gait2KvrKN0SwqY3czM46h4BWLv4YJtDrWGEL2NE/kdZb9B9D66sNuBKzEVzObpZ3QEAGcE33zkAAAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAJM62nFM699Nj1kpOQ4RDBlMDGBwwu58YA6YnazrYt+wKRPM9nnD4fAxPA3MfnJvrf2n2wlgtsO0k3bHXZLB7AmpJ+xLnkPUm5Qds297kQhmKzCfsF9mnAwz3359VjaYrVR53/72SYh4zYdb9rWeSWC2u6O7/XsbiN49BiftpVtSwOyjD6fYK15JgLuz1hCid+4NEQfZbxC9P65Ps+dKTAWzEy5W2QMAAPh28eQAAAA=" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAJM62nFM699NDy8hXscIhgwmBiD4//+iw/nAHDD73YZDDg2bMsHssqR2h4/haWC235u7Dp9uJ4DZIHDcJRnMFrGeal/yHKL+3CQhh7YXiVA1Hg7LjCFqjO3WOazPygazNwrHO9w+CRG/mOfhUOuZBGZ3zRV1eG8D0ftqmbuDdEsK1BwxB8UrEHtLhcQcag2ToeLT7GW/IfRyJaaC2ffuVTgAAF1DLbjkAAAA" />
    <add key="/intelcpu/0/load/10/values" value="H4sIAAAAAAAEAJM62nFM699ND47T3I4RDBlMDECgXibicD4wB8zeGVLu0LApE8y22njU/mN4GpjdwONh/+l2ApjNwHDC7rhLMpTNwFDyPBPKnmbf9iIRLr7MOBlqzmT79VnZcPHbJyHifm+O2NV6JoHZm3S87d/bJELZp+2kW1Lg6hWvJMDZtYYwez3sZb8lwe3lSkyFiwMAnncdC+QAAAA=" />
    <add key="/intelcpu/0/load/11/values" value="H4sIAAAAAAAEAJM62nFM699ND6WvDQ4RDBlMDEDw//98h/OBOWA2A8MJu4ZNmWD2iamxDh/D08Bsq42THT7dTgCzN+mctjvukgxV72Ff8hyi3u/NEfu2F4lQ8Wn2y4yT4Wauz8qGshkYbp+EiFv8mGRf65kEV/PeJhFupnRLCpidUDLRXvFKAlxvrSFEr0zNMXvZb0lwca7EVLi9AHGFydnkAAAA" />
    <add key="/intelcpu/0/load/12/values" value="H4sIAAAAAAAEAJM62nFM699Njyt8qo4RDBlMDECwUXiKw/nAHDD7JV+pQ8OmTDBbxFrK8WN4GpidtNzR8dPtBDA7gdPD4bhLMpi9ScfbvuQ5RP3EPjf7theJYDYDg4f9MuNkOHt9VjaUfcLu9kmIeHzeYftazyS4ONfBoywwtuKVBKg4A0OtYTLcfNlvEPUFHw7acSWmwtUAAI9ydJ/YAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="/intelcpu/0/clock/9/values" value="" />
    <add key="/intelcpu/0/clock/10/values" value="" />
    <add key="/intelcpu/0/clock/11/values" value="" />
    <add key="/intelcpu/0/clock/12/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>